<%= form_with model: article do |form| %>
  <div>
    <%= form.text_field :title, placeholder: :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div class="error-message">
        <%= message %>
      </div>
    <% end %>
  </div>
  <div>
    <%= form.text_area :body, placeholder: :body, rows: 15 %>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div class="error-message">
        <%= message %>
      </div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
