<%= form_with model: article do |form| %>
  <div>
    <%= form.text_field :title, placeholder: :title %>
    <%= render 'shared/error_message', { entity: article, field: :title } %>
  </div>
  <div>
    <%= form.text_area :content, placeholder: :content, rows: 15 %>
    <%= render 'shared/error_message', { entity: article, field: :content } %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
