<%= form_with model: article do |form| %>
  <div class="input-row">
    <%= form.text_field :title, placeholder: :title %>
    <ul>
      <% article.errors.full_messages_for(:title).each do |message| %>
        <li class="error-message">
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="input-row">
    <%= form.text_area :body, placeholder: :body, rows: 15 %>
    <ul>
      <% article.errors.full_messages_for(:body).each do |message| %>
        <li class="error-message">
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="mt-2">
    <%= form.submit %>
  </div>
<% end %>
