<!DOCTYPE html>
<html>
  <head>
    <title>Blog on Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="flex flex-wrap items-center justify-between p-4 bg-white shadow-lg">
      <div class="w-auto lg:order-2 lg:w-1/5 lg:text-center">
        <span class="text-xl font-semibold text-gray-800 font-heading">
          Blog on Rails
        </span>
      </div>
      <div class="hidden w-full navbar-menu lg:order-1 lg:block lg:w-2/5">
        <%= link_to 'Home', root_path, class: 'block mt-4 mr-10 text-blue-900 lg:inline-block lg:mt-0 hover:text-indigo-600 no-underline' %>
      </div>
      <div class="hidden w-full navbar-menu lg:order-3 lg:block lg:w-2/5 lg:text-right">
        <%= link_to 'New article', new_article_path, class: 'block mt-4 mr-10 text-blue-900 lg:inline-block lg:mt-0 hover:text-indigo-600 no-underline' %>
      </div>
    </nav>
    <div>
      <p class="notice text-yellow-700"><%= notice %></p>
      <p class="alert error-message"><%= alert %></p>
    </div>
    <main class="container mx-auto mt-28 px-40">
      <%= yield %>
    </main>
  </body>
</html>
